* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}